.detail{
    width: 90%;
    margin: 3rem auto;
    height: 90%;
    max-width: 100rem;

  @include respond(size_xs){
    width: 100%;
  }

  &__wrapper{
    animation-name: fadeSlideIn;
    animation-duration: .3s;
    transition: .1s;
    text-align: center;
  }

    &__header{
        display: inline-flex;
        width: 100%;
        margin: 2rem 0;
        position: relative;

        @include respond(size_xs){
          text-align: center;
          display: inline-block;
        }

        &--top{
          display: flex;
          margin: 1rem 0;
          justify-content: space-between;
          @include respond(size_m){
            display: block;
            width: 100%;
          }
          @include respond(size_xs){
            margin: 2rem auto;
            width: 30rem;
          }


        }

        &--image{
            height: 20rem;
            width: 20rem;
            margin: 1.5 2.5rem;
            background-size: cover;
            border-radius: 20px;
            transition: .3s;
            @include respond(size_xs){
              height: 30rem;
              width: 30rem;
              margin: auto;
            }

            &:hover{
              transform: scale(1.05);
              transition: .3s;
            }
      
            &:active,
            &:focus{
              transform: scale(1.0);
              transition: .05s;
            }
        }

        &--comment{
          position: absolute;
          background-color: #3c3c3c;
          padding: 1.5rem;
          border-radius: 2rem;
          color: white;
          left: 22rem;
          top: -4rem;

          @include respond(size_xs){
            left: 50%;
            transform: translate(-50%);
            width: 80%
          }

          &:before {
            content: "";
            position: absolute;
            top: 86%;
            left: -2.2rem;
            margin-top: -1.5rem;
            border: 15px solid transparent;
            border-right: 2rem solid #3c3c3c;
            z-index: 0;
            transform: rotate(-25deg);

            @include respond(size_xs){
              top: 111%;
              left: 50%;
              transform: rotate(-90deg);
            }

          }
        }

        &--sub-container{
            width: calc(100% - 25rem);
            margin-left: 5rem;
            // background-color: blue;
            @include respond(size_m){
              margin-left: 3rem;
            }
            @include respond(size_xs){
              display: inline-block;
              width: 100%;
              margin-left: 0;
            }
        }


        &--channel-title{
            height: $xl-size;
            font-size: 3rem;
            display: flex;
            align-items: center;
            @include respond(size_m){

              padding-left: 2rem;
              border-radius: 1rem;
            }
            @include respond(size_xs){
              background-color: #636363;
              color: white;
              display: block;
              text-align: center;
              padding: 1rem 0;
              margin-bottom: 1rem;
              height: 2.8rem;
            }
        }

        &--icons{
            height: $xl-size;
            display: flex;
            align-items: center;
            @include respond(size_xs){
              justify-content: center;
            }
            
        }

        &--description{
            height: 13rem;
            overflow-y: scroll;
            text-align: left;
            @include respond(size_xs){
              width: 30rem;
              display: inline-block;
              width: 85%;
            }
        }
    }

    &__navigation{
        display: flex;

        &--item{
            padding: 1rem 2rem;
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(185, 185, 185);
            cursor: pointer;
        }

        &--border{
          left: 0;
          position: absolute;
          // background-color: rgb(224, 224, 224);
          border-top: 1px solid rgb(235, 235, 235);
          width: 100%;
          height: 150rem;
          z-index: -10;
        }
    }

    &__param{
      font-size: 3.5rem;
      font-family: 'Titillium Web';
      padding: .5rem 0 .5rem 3rem;
      font-weight: 700;
      text-align: left;

      @include respond(size_m){
        font-size: 2.5rem;
      }

      &--top{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &--icon{
        height: 3rem;
        width: 3rem;
        background-size: cover;
      }

      &--label{
        color: grey;
        padding: 2rem;
        padding-left: 3rem;
        text-align: left;
      }

      &--change{
        color: blue;
        font-weight: 700;
        padding: 2rem;
        padding-left: 3rem;
        text-align: left;

        &--container{
          padding: 2rem 0;
        }

        &--quantity{
          font-size: 1.6rem;
          display: inline-block;
          width: 30%;
          font-weight: 700;
          text-align: left;
          padding-left: 2rem;
        }

        &--text{
          font-size: 1.4rem;
          color: grey;
          display: inline-block;
          width: 50%;
          text-align: left;
          padding-left: 1.5rem;
        }
      }
    }

    &__small-item{
        display: inline-block;
        background-color: rgb(255, 255, 255);
        width: 28rem;
        margin: 2rem;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: .15s;

        @include respond(size_m){
          width: 22rem;
          margin: 1rem;
        }
        @include respond(size_xs){
          width: 29rem;
        }

        &:hover{
          transform: translateY(-1.02rem) scale(1.02);
          transition: .15s;
        }
    }

    &__large-container{
        width: 100%;
        height: auto;
    }

    &__iframe{
        position: relative;
        
        &--video{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }


    &__heatmap{
      padding-right: 4rem;
      padding-top: 1rem;
      position: relative;
      display: inline-block;
      width: calc(100% - 4rem);

      @include respond(size_xs){
        padding-right: 2rem;
      }

      &--container{
          background-color: rgb(255, 255, 255);
          margin: 2rem 4rem;
          padding: 2rem;
          box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

          @include respond(size_xs){
            margin: auto;
            width: 25rem;
          }
      }
    }

    &__back{
      color: grey;
      display: inline-block;
      padding: 0 1rem;
      @include respond(size_xs){
        padding-left: 2rem;
      }
      &:hover{
        color: black;
      }
    }
}

.container__label{
  text-align: left;
  padding: 1.2rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding-top: 0;
}

.graph{

  &__container{
    position: relative;
    display: inline-block;
    width: 40rem;
    height: 40rem;
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

    @include respond(size_m){
      height: 42rem;
      width: 42rem;
    }

    @include respond(size_xs){
      height: 25rem;
      width: 25rem;
      margin: 1rem;
    }
  }
}

.no__video{
  @include absCenter;
  color: white;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  transform: translate(-55%, -55%) rotate(-10deg);
  background-color: red;
  width: 21rem;
  box-shadow: 8px 8px 4px 0 rgb(0, 0, 0);
  
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1rem;
  top: 1rem;

  &__wrapper{
    position: relative;
    display: inline-block;
    width: 40rem;
    height: 40rem;
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

    @include respond(size_m){
      width: 42rem;
      height: 42rem;
    }

    @include respond(size_xs){
      height: 25rem;
      width: 25rem;
      margin: 1rem;
    }
  }

  &__container {
    position: relative;
    width: 105%;
    height: 89%;
  }
}
