.header{
    background-image: linear-gradient(to bottom, rgb(122, 202, 255), rgb(64, 179, 255));
    height: 5rem;
    // box-shadow: 0 0.5rem 1rem rgba(black, .1);
    position: fixed;
    width: 100%;
    z-index: 10000;

}