::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 144, 144, 0.5);
  border-radius: 10px;
}

.navigation__background{
    @include respond(size_l){
        position: fixed;
        background-color: rgba(0, 0, 0, 0.459);
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
}

.navigation{
    position: absolute;
    top: 5rem;
    @include respond(size_l){
        z-index: 10;
        display: none;
    }
}

.sidebar{
    background-color: rgb(65, 59, 59);
    padding-top: 5rem;
    position: fixed;
    height: 100vh;
    font-size: 2rem;
    z-index: 10;
    width: 20rem;
    top: 0;

    @include respond(size_l){
        display: none;
    }

    &--icon{
        padding: 0 1rem;
        font-size: 1.7rem;
    }

    &__navigation{

        &--text{
            margin-left: 1rem;
            font-size: 1.8rem;
        }

        &--label{
            color: #d2d2d2;
            padding-left: 2.5rem;
            padding-bottom: 1rem;
            font-size: 1.4rem;
            margin-top: 3rem;
            &::before{
                content: "";
                position: absolute;
                border-bottom: 2px solid #bfbfbf;
                width: 95%;
                left: .5rem;
                top: 22.5rem;
                cursor: initial;
                margin: -1.5rem 0;
                @include respond(size_l){
                    top: 20.5rem;
                }
            }

        }
        &--detail{
            overflow-y: scroll;
            height: 60%;
        }

        &--image{
            height: 3rem;
            width: 3rem;
            background-size: cover;
            border-radius: 100%;
            display: inline-block;
            margin-right: 1.5rem;
        }

        &--channel-title{
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1;
            width: 60%;
        }

        &--item{
            padding: 1rem 0;
            padding-left: 1rem;
            margin: 0.5rem;
            text-decoration:none; 
            cursor:pointer;  
            color:#c1c1c1;
            display: flex;
            align-items: center;

            &:hover{
                background-color: rgb(107, 145, 167);
                color: rgb(255, 255, 255);
            }

        }

        &--active{
            font-weight: 500;
            color: rgb(255, 255, 255);
            background-color: rgb(107, 145, 167);
        }
    }


}

// .isOpened{
//     display: inline-flex;
//     flex-flow: column;
//     width: $sidebar-width;
// }
