.timeline__button{
    padding: .6rem;
    border: 1px solid #bbbbbb;
    display: inline-block;
    margin-top: 1.3rem;
    border-radius: .5rem;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  
    &:hover{
      background-color: #dfdfdf;
    }
  
    &:active,
    &:focus{
      background-color: #f1f1f1;
    }
  
  }
  .vertical-timeline-element-date{
    width: 100%;
    font-size: 1.5rem !important;
  }
  .timeline__icon{
    @include absCenter;
    font-size: 2.5rem;
  }

.isSelected{
    border-bottom: 2px solid blue;
    color: rgb(61, 61, 61);
}