.param--icon{
    @include absCenter;
    @include svg;
    font-size: 2rem;
    &.fa-rss{background-color: red;}
    &.fa-video{background-color: rgb(0, 26, 255);}
    &.fa-birthday-cake{background-color: rgb(255, 153, 0);}
    &.fa-twitter{background-color: rgb(255, 0, 242);}
    &.fa-walking{background-color: rgb(255, 103, 103);}
    &.fa-users{background-color: rgb(32, 47, 255);}
}
  
.detail__param--icon--container{
    background-color: cyan;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 1.5rem;
    position: relative;
    -webkit-text-fill-color: transparent;
    &.fa-rss{background-color: rgb(255, 172, 172);}
    &.fa-video{background-color: rgb(139, 222, 255);}
    &.fa-birthday-cake{background-color: rgb(232, 241, 185);}
    &.fa-twitter{background-color: rgb(255, 176, 244);}
    &.fa-walking{background-color: rgb(255, 221, 183);}
    &.fa-users{background-color: rgb(141, 213, 255);}

    @include respond(size_xs){
        margin-right: 2.5rem;
    }
}
  
  