.icon {
    height: 4rem;
    width: 4rem;
    margin: 0 1rem;
    cursor: pointer;
    background-size: cover;
    @include respond(size_m){
      height: 3rem;
      width: 3rem;
    }
}

.heart {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    font: 1em verdana, sans-serif;
}
  
[id='toggle-heart'] {
    position: absolute;
    left: -100vw;
}

[id='toggle-heart']:checked + label {
    color: #e2264d;
    -webkit-filter: none;
            filter: none;
    will-change: font-size;
    -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
            animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
    -webkit-animation: inherit;
            animation: inherit;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}

[id='toggle-heart']:checked + label:before {
    will-change: transform, border-width, border-color;
    -webkit-animation-name: bubble;
            animation-name: bubble;
}

[id='toggle-heart']:checked + label:after {
    will-change: opacity, box-shadow;
    -webkit-animation-name: sparkles;
            animation-name: sparkles;
}

[id='toggle-heart']:focus + label {
    text-shadow: 0 0 3px white,  0 1px 1px white, 0 -1px 1px white,  1px 0 1px white, -1px 0 1px white;
}
  
[for='toggle-heart'] {
    align-self: center;
    position: relative;
    color: #888;
    font-size: 3em;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

[for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
}
  
[for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -2.25rem;
    border: solid 2.25rem #e2264d;
    width: 4.5rem;
    height: 4.5rem;
    -webkit-transform: scale(0);
            transform: scale(0);
}
  
[for='toggle-heart']:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0.32476rem -3rem 0 -0.1875rem #ff8080, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
}