// COLORS
$color-heatmap-1: #227aff;
$color-heatmap-2: #6cacff;
$color-heatmap-3: #88b7ff;
$color-heatmap-4: #a1dbff;

$card-1: linear-gradient(to right top, #aee9d3, #9eebcf );
$card-2: linear-gradient(to right top, rgb(245, 223, 182), rgb(247, 220, 171));
$card-3: linear-gradient(to right top, rgb(236, 236, 255),rgb(196, 196, 255)) ;

.red { color: #ff3f3f; }
.blue{ color: #4d4dff; }

// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 60rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$header-height: 5rem;
$sidebar-width: 23rem;