.contents__wrapper{
    display: flex;
    height: calc(100vh - 5rem);
    padding-top: $header-height;
}

.contents__container{
    position: absolute;
    margin: 0 auto;
    height: 90%;
    left: 20rem;
    width: calc(100% - 20rem);

    @include respond(size_l){
        left: 0;
        width: 100%;
    }
}

.is-active {
    font-weight: bold;
  }