*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid rgb(255, 255, 255) 1px !important;
//   }


html {
  font-size: 62.5%;
  @include respond(size_l){     // width < 1000px
      font-size: 50%;   // 1rem = 8px
  }
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: rgb(247, 247, 247);
  
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
